<div class="producto-page">
  <h2 class="title">Productos Disponibles</h2>

  <div class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img [src]="getImageUrl(producto.image)" alt="{{ producto.name }}" />
      <div class="producto-info">
        <h3>{{ producto.name }}</h3>
        <p class="precio">$ {{ producto.price }}</p>
      </div>
    </div>

    <div *ngIf="!productos.length">
      <p>Cargando productos...</p>
    </div>
  </div>

  <button class="btn" (click)="logout()">Cerrar Sesión</button>
    <button class="btn2"  (click)="goToCreate()">agregar producto</button>

</div>
